* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  color: #000;

  font-size: large;
}

.image-none {
  opacity: 0;
}

.container {
  padding: 64px;

  max-width: 1120px;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-align: center;

  width: 100%;
  margin-top: 16px;
}

footer .signature {
  width: 100%;
  max-width: 300px;
  height: 50px;
}

footer .signature .signature-image {
  width: 98px;
  height: 50px;
}

footer .signature.aprove-by p {
  width: 58px;
  flex-wrap: wrap;
}

#page-01 {
  page-break-after: always;
  /* height: 100vh; */
}

#page-01 .logo {
  align-self: flex-start;
  margin-bottom: 16px;
}

#page-01 .logo img {
  width: 182px;
}

#page-01 h1 {
  margin-bottom: 20px;
  color: #ff9000;
}

#page-01 section {
  text-align: center;
  padding: 0 32px;
}

#page-01 section .date-now {
  text-align: right;
  margin-top: 24px;
}

#page-01 footer {
  margin-top: 64px;
}

#page-01 .code {
  margin-top: 88px;
}

#page-02 {
  height: 100vh;
}

#page-02 .container {
  padding: 24px;
}

#page-02 header h2 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #325bbf;
}

#page-02 main {
  width: 100%;
}

#page-02 main ul {
  display: grid;
  width: 100%;

  list-style: none;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
}

#page-02 main ul li {
  margin: auto;
}

#page-02 .signature {
  font-size: 14px;
}
